<h1>new User</h1>
<form method="post" action="/users/create">
  <table>
    <tr>
      <td>
        Username:
      </td>
      <td>
        <input type="text" id="username" name="username" /><br />
      </td>
    </tr>
    <tr>
      <td>
        Email:

      </td>
      <td>
        <input type="text" id="email" name="email" /><br />

      </td>
    </tr>
    <tr>
      <td>
        Password:

      </td>
      <td>
        <input type="password" id="password" name="password" /><br />
      </td>
    </tr>
    <tr>
      <td>
        Retype password:

      </td>
      <td>
        <input type="password" id="password_confirmation" name="password_confirmation" /><br />
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Create" />
      </td>
      <td>

      </td>
    </tr>

  </table>
</form>